.store-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
}

.store-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.store-item-information {
    padding: 20px;
}

.store-item-description {
    color: #454545;
    font-size: 28px;
}

.store-item-price {
    color: #454545;
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
}